{% load bootstrap_tags %}
<form class="form-horizontal" action="/quote" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h4>Request a Quote</h4>
    </div>
    <div class="modal-body">
        <p>Pleasee provide us with your contact and project information by filling out the form below. Request a quote and we'll always give you our best price for your proposed project and where possible we are able to price match as well.</p>
        <div class="form-body">
            {{ form|as_bootstrap }}
        </div>
    </div>
    <div class="modal-footer">
        <p>Please note: fields marked with an asterisk are required.</p>
        <a href="#" id="modal-close" class="btn" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>